// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Spoonies Color Scheme
// https://colorhunt.co/palette/432c7a80489cff8fb1fce2db
$dark-purple: #432C7A;
$mid-purple: #80489C;
$pink: #FF8FB1;
$beige: #FCE2DB;
