@import "show";

.d-flex {
  background-color: #80489C;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3 {
  color: black;
}

.show-page-img {
  margin-bottom: 16px;
  border-radius: 8px;
}
