<%# <% if current_user.email == @spooner.email %>
  <div class="container">
    <h1>Update Spooner Profile</h1>
    <%= render "form", spooner: @spooner %>
  </div>
<%# <% else %>
<%# <h1>Sorry, you can only edit your own profile!</h1>
<%# <% end %>
