.btn-show {
  background-color: #432C7A;
  border-radius: 15px;
  height: 60px;
  text-decoration: none;

  a {
  color: #FCE2DB !important;
  font-size: 20px;
  }
}

.btn-show:hover {
  background-color: #FF8FB1;
}

.btn-lg {
  width: 500px;
}

#form-submit-btn {
  background-color: #432C7A;
  border-radius: 15px;
  height: 60px;
  width: 150px;
  color: #FCE2DB;

  margin-bottom: 20px;
}

#form-submit-btn:hover {
  background-color: #FF8FB1;

 }

.btn {
  color: white;
  background-color: #432C7A;
  border-color: #432C7A;
}

.btn:hover {
  color: white;
  background-color: #FF8FB1;
  border-color: #FF8FB1;
}

.btn:active {
  color: white;
  background-color: #FF8FB1;
  border-color: #FF8FB1;
}

.btn-secondary {
  --bs-btn-active-bg: rgb(255, 143, 177, 0.7);
  --bs-btn-active-border-color: rgb(255, 143, 177, 0.7);
}
