footer {
  color: #FCE2DB;
  background-color: $dark-purple;
  font-family: 'Noto Sans JP', sans-serif;
}

a .nav-item {
  color: #FCE2DB;
  background-color: $dark-purple;
  justify-content: space-between;
  text-decoration: none;
}

p {
  color: #FCE2DB;
}

a {
  color: #FCE2DB;
  text-decoration: none;
}
