.navbar {
  justify-content: space-between;
  color: $beige;
  background-color: #432C7A;
}

.navbar .nav-link {
  color: $beige;
}

.navbar .navbar-toggler {
  color: white;
  background-color: red;
}

.navbar .navbar-brand {
  color: $beige;
  font-size: 30px !important;
  font-family: 'Noto Sans JP', sans-serif;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.map {
  margin-bottom: 100px;
}
